.skill{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    box-sizing: border-box;
    background-color: var(--color-background-skill-targeta-degradado);
    width: 8.75rem;
    height: 7.375rem;
    margin-bottom: 1.5rem;
    margin-right: 0.95rem;
    box-shadow: 0 0px 5px var(--azul-resaltar), 
    0 0px 15px var(--azul-resaltar);
    text-shadow: 0px 0px 5px var(--azul-resaltar), 
    0px 0px 15px var(--azul-resaltar); 
}

@media screen and (min-width:478px){
    .skill{
        width: 15.75rem;
        height: 7.375rem;
    }
}

@media screen and (min-width:768px){
    .skill{
        width: 11rem;
        height: 10.875rem;
        box-shadow: none;
        text-shadow: none;
    }
    .skill:hover{
        box-shadow: 0 0px 5px var(--azul-resaltar), 
        0 0px 15px var(--azul-resaltar), 
        0 0px 30px var(--azul-resaltar), 
        0px 0px 50px var(--azul-resaltar);
        text-shadow: 0px 0px 5px var(--azul-resaltar), 
        0px 0px 15px var(--azul-resaltar), 
        0px 0px 30px var(--azul-resaltar),
        0px 0px 50px var(--azul-resaltar);
    }
}