.barranav__nav__link{
    font-family: var(--subtitulos);
    font-size: 1rem;
    color:whitesmoke;
    margin-right: .8rem;
    text-decoration: none;
}

.barranav__nav__link--email{
    font-weight: 700;
    color: whitesmoke;
    font-family: var(--subtitulos);
    text-decoration: none;
}

.barranav__nav__link:hover {
    text-shadow: 0 0 5px var(--color-amarillo-neon), 0 0 15px var(--color-amarillo-neon);
    text-decoration: underline;
}

.barranav__nav__link--email:hover {
    text-shadow: 0 0 5px var(--color-naranja-neon), 0 0 15px var(--color-naranja-neon);
    text-decoration: underline;
}