.banner__parrafo{
    /* width: 100vw;
    font-family: var(--subtitulos);
    padding: 1rem;
    font-size: 0.5rem;
    line-height: 2rem;
    color: var(--blanco-contenedor);
    text-shadow: 2px 5px 5px var(--negro-sombra);
    background-color: var(--azul-resaltar-degradado); */
}

@media screen and (min-width:768px){
    .banner__parrafo{
        /* font-size: 2rem;
        line-height: 2rem; */
    }
}