.banner__parrafo{
    padding: 1rem;
    font-size: 0.7rem;
    line-height: 2rem;
    color: var(--blanco-contenedor);
    font-family: var(--parrafos)
}

@media screen and (min-width:375px){
    .banner__parrafo{
        font-size: 1.2rem;
        line-height: 2rem; 
    }

}
@media screen and (min-width:768px){
    .banner__parrafo{
        font-size: 2rem;
        line-height: 2.5rem; 
    }
}

