.banner__redes__item{
    font-family: var(--contenido-cursiva);
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0.1rem;
    color: var(--blanco-contenedor);
    font-size: 0.7rem;
}

@media screen and (min-width:375px){
    .banner__redes__item{
        font-size: 1rem;
        padding: 0.2rem;
        justify-content: space-between;
    }    
}

@media screen and (min-width:768px){
    .banner__redes__item{
        font-size: 1.58rem;
    }
}
