.banner__titulo{
    font-family: var(--titulos-principales);
    font-size: 2rem;
    line-height: 3.8125rem;
    text-align:center;
    text-shadow: 0 2px 2px var(--negro-sombra);
    color: var(--negro-texto);
}

.banner__titulo--nombres{
    color: var(--azul-resaltar);
}

.banner__titulo--apellidos{
    color: var(--rojo-resaltar);
}

