.banner__parrafo{
    font-family: var(--subtitulos);
    padding: 1rem;
    font-size: 2rem;
    line-height: 2rem;
    color: var(--blanco-contenedor);
    text-shadow: 2px 5px 5px var(--negro-sombra);
    background-color: var(--azul-resaltar-degradado);
}