@keyframes parpadear2{

    to{
        color:var(--blanco-contenedor);
        text-shadow: 0 0 5px var(--color-naranja-neon), 
        0 0 15px var(--color-naranja-neon), 
        0 0 30px var(--color-naranja-neon), 
        0 0 50px var(--color-naranja-neon);
    }

}


.footer__fecha{
    font-family: var(--subtitulos);
    color: var(--apagado);
    animation: parpadear2 1.8s steps(2, start) infinite;
}