.sobremi__foto{
    width: 400px;
    height: 585px;
    background-image: url(../../img/Zorro.jpg);
    background-repeat: no-repeat;
    background-size:auto;
    background-position: cover;
    width: 350%;
}