.banner{
    /* display: flex;
    background-image: url('../img/fondo_baner.jpg');
    padding: 5rem;
    background-position: -30rem -7rem; */
}

@media screen and (min-width:768px){
    .banner{   
    }
    }