.sobremi{
    display: flex; 
    padding: 0.5rem;
    background-color: var(--color-morado-background);
    text-align: justify;
}

@media screen and (min-width:375px){
    .sobremi{
        padding: 1.5rem;
    }
}

@media screen and (min-width:875px){
    .sobremi{
        padding: 2rem;
    }
}