.formacion__logo__container{
    display: flex;
    width: 368px;
    height: 286px;
    align-items: center;
    justify-content: center;
    background: var(--blanco-contenedor);
    box-shadow: 0 0 5px var(--azul-resaltar),
    0 0 15px var(--azul-resaltar),
    0 0 30px var(--azul-resaltar);
}

