.formaciones__titulo{
    /* font-family: var(--prueba1);
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
    margin-bottom: 2rem;
    color: var(--blanco-contenedor);
    text-shadow: 0 0 5px var(--rojo-resaltar),
    0 0 15px var(--rojo-resaltar), 
    0 0 30px var(--rojo-resaltar); */
}

@media screen and (min-width:768px){
    
}