.formaciones__titulo{
    text-align: center;
    color: var(--blanco-contenedor);
    font-family: var(--contenido-cursiva);
    text-shadow: 0 0 5px var(--rojo-resaltar),
    0 0 15px var(--rojo-resaltar), 
    0 0 30px var(--rojo-resaltar);
    margin-bottom: 1rem;
}

@media screen and (min-width:375px){
    .formaciones__titulo{
        font-size: 2rem;
    }
}

@media screen and (min-width:768px){
    .formaciones__titulo{
        font-size: 2.5rem;
    }
}