.formacion__contenido{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 1rem;
    color: var(--blanco-contenedor);
    /* text-shadow: 0 0 5px var(--blanco-contenedor); */
}

.formacion__contenido:hover{
    text-shadow: 0 0 5px var(--rojo-resaltar), 
    0 0 15px var(--rojo-resaltar);
}