.formaciones__contenido {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 1rem;
}

@media screen and (min-width:700px){
    .formaciones__contenido{
        justify-content: space-around;
    }
}