.banner__lista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    line-height: 2rem;
    /* padding-left: 1rem; */
    font-size: 1.5rem;
    width: 100%;
}

.banner__lista__item{
    /* border-bottom: 2px solid; */
    background: var(--amarillo-pastel);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 0.2rem;
    padding-left: 1rem;
    
}

.banner__lista__item:nth-child(even){
    background: var(--rojo-pastel);
}
