.habilidades{
    display: flex;
    flex-direction: column;
}

.habilidades__contenido{
    border:solid var(--amarillo-pastel);
    margin: 2rem 1rem;
}

.habilidades__titulo{
    text-align: center;
    font-family: var(--contenido-cursiva);
    margin: 1rem;
}

.habilidades__titulo__item{
    margin: 0 1rem 0rem 1rem;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    line-height: 2rem;
    padding-left: 1rem;
}

.cita {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.cita__virgilio{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgba(0, 0, 0, 0.411);
}

.virgilio{
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
    color: rgba(0, 0, 0, 0.411);
}

@media screen and (min-width:481px){
  
.habilidades__titulo__item
{
   font-size: 1.2rem; 
}
}

@media screen and (min-width:769px){
    .habilidades{
        flex-direction: row;
        justify-content: space-around;
    } 

    .habilidades__titulo__item{
        max-width: 400px;
        flex-wrap: wrap;
    }

    .habilidades__titulo__item:hover{
        background-color: var(--rojo-pastel);
        font-size: 1.3rem;
        width: 100%;
    }

    }

@media screen and (min-width:935px){
    .virgilio, 
    .cita__virgilio{
        font-size: 1.2rem;
        text-align: right;
    }

}