.experenciaPro__button{
    max-width:100%;
    width: 6rem;
    height: 2.5rem;
    font-family: var(--subtitulos);
    font-size: 0.7rem;
    color: var(--blanco-contenedor);
    background-color: var(--negro-sombra);
    text-shadow: 0 0 5px var(--color-morado-neon),
    0 0 15px var(--color-morado-neon),
    0 0 30px var(--color-morado-neon),
    0 0 50px var(--color-morado-neon);
    margin: 0.29rem;
}

.experenciaPro__button:hover{
    cursor: pointer;
    background-color:var(--negro-texto);
    box-shadow: 0 0 5px var(--color-amarillo-neon),
    0 0 15px var(--color-amarillo-neon);
}

@media screen and (min-width:375px){
    .experenciaPro__button{
        width: 6.5rem;
        height: 3.18rem;
    }  
}

@media screen and (min-width:768px){
    .experenciaPro__button{
        width: 7rem;
        height: 3.2rem;
    }  
}
