.experenciaPro{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:375px){

}

@media screen and (min-width:768px){
    .experenciaPro{
        flex-direction: row;
    }
    .experenciaPro:nth-child(odd){
        flex-direction: row-reverse;
    }

    .experenciaPro{
        margin: 2rem;
    } 
}