.contacto__nombre{
    font-family: var(--subtitulos);
    color: var(--negro-texto);
    background-color: var(--color-amarillo-neon);
    font-size: 0.8rem;
    margin-top: 0.6rem;
    padding: 0.43rem;
}

@media screen and (min-width:375px){
    .contacto__nombre{
        font-size: 1rem;
        padding: 0.45rem;
    } 
}

@media screen and (min-width:768px){
    .contacto__nombre{
        font-size: 1.5rem;
        padding: 0.48rem;
    } 
}