.contacto__button{
    width: 9rem;
    height: 3.1875rem;
    margin-top: 1.5rem;
    font-family: var(--subtitulos);
    font-size: 1rem;
    color: var(--blanco-contenedor);
    background-color: var(--negro-sombra);
    text-shadow: 0 0 5px var(--color-morado-neon),
    0 0 15px var(--color-morado-neon),
    0 0 30px var(--color-morado-neon),
    0 0 50px var(--color-morado-neon);
}

.contacto__button:hover{
    cursor: pointer;
    background-color:var(--negro-texto);
    box-shadow: 0 0 5px var(--color-amarillo-neon),
    0 0 15px var(--color-amarillo-neon);
}

@media screen and (min-width:375px){
    .contacto__button{
        width: 6.5rem;
        height: 3.18rem;
    }  
}

@media screen and (min-width:768px){
    .contacto__button{
        width: 7rem;
        height: 3.2rem;
    }  
}

    